
.card-border {
    border: solid 10px rgb(43, 114, 219);
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover {
    transform: scale(1.05);
}

.text-shadow {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}



@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

article{
    background-color: #ffffff; 
}

body{
       background-color: #109c5c; 
  }
p{
    color: #93da0f; 
}  


.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
}


input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #109c5c;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #109c5c;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button p {
    color: #fff;
}


span {
    color: #109c5c;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #109c5c;
}


h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #109c5c;
}


p {
    font-size: 14px;
    color: #807777;
    text-align: justify;
}

p1 {
    font-size: 14px;
    color: #807777;
    text-align: center;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.container-facebook svg{
    width: 30px;
    height: 30px;
    color: #1f4dcc;
}

.container-whatsapp svg{
    width: 30px;
    height: 30px;
    color: #30a30d;
}

.container-email svg{
    width: 30px;
    height: 30px;
    color: #a30d0d;
}

.card{
    background-color: #ffffff;
    border-radius: 20px;
    
  
}